<h1><%= @title %></h1>

<p><%= @description %></p>

<iframe width="420" height="315" src="http://www.youtube.com/embed/<%= @url %>" frameborder="0" allowfullscreen></iframe>

<p><em><%= @subtitle %></em></p>
